<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="addNew">
    <h1 class="addFavBrand">Add a Favorite Product!</h1>
    <form action="/brands" method="POST">
      Product Name: <input class="newItems" type="text" name="name"/><br/>
      Product Website: <input class="newItems" type="text" name="url"/><br/>
      Image: <input class="newItems" type="text" name="image" placeholder="URL of Image"/><br/>
      Own Item: <input class="newItems" type="checkbox" name="ownItem"/><br/>
      Follow on Social Media: <input class="newItems" type="checkbox" name="socialMedia"/><br/>
      Description: <textarea class="newItems" name="description"></textarea><br/>
      <input type="submit" name="" value="Create Product"/>
    </form>
    </div>
  </body>
</html>
