<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add a Favorite Brand!</h1>
    <form action="/brands" method="POST">
      Brand Name: <input type="text" name="name"/><br/>
      Image: <input type="text" name="image" placeholder="URL of Image"/><br/>
      Own Item: <input type="checkbox" name="ownItem"/><br/>
      Follow on Social Media: <input type="checkbox" name="socialMedia"/><br/>
      Referral: <textarea name="referral"></textarea><br/>
      <input type="submit" name="" value="Create Brand"/>
    </form>
  </body>
</html>
