<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Affiliate</h1>
    <h1> <%=brands.name%> </h1>
    <img src="<%=brands.image%>" alt="">
    <h5><%=brands.description%></h5>
    <h4><a href="/brands">Back to Brands</a></h4>
  </body>
</html>
